body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1566px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:578px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:18px;
  width:1139px;
  height:578px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:254px;
  width:85px;
  height:32px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:254px;
  width:85px;
  height:32px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:81px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1143px;
  height:528px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:649px;
  width:1143px;
  height:528px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:254px;
  width:300px;
  height:86px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:296px;
  word-wrap:break-word;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:286px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u100_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:7px;
  width:454px;
  height:8px;
}
#u100_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u100_seg3 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:1px;
  width:20px;
  height:20px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:170px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:254px;
  width:0px;
  height:0px;
}
#u101_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:8px;
  height:18px;
}
#u101_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:347px;
  height:8px;
}
#u101_seg2 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:-18px;
  width:8px;
  height:65px;
}
#u101_seg3 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:39px;
  width:20px;
  height:8px;
}
#u101_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u101_seg5 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:33px;
  width:20px;
  height:20px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:149px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:1416px;
  top:340px;
  width:0px;
  height:0px;
}
#u102_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:529px;
}
#u102_seg1 {
  border-width:0px;
  position:absolute;
  left:-301px;
  top:521px;
  width:305px;
  height:8px;
}
#u102_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u102_seg3 {
  border-width:0px;
  position:absolute;
  left:-308px;
  top:515px;
  width:20px;
  height:20px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:405px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:69px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:1007px;
  width:356px;
  height:69px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:894px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:152px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:-297px;
  top:144px;
  width:301px;
  height:8px;
}
#u104_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u104_seg3 {
  border-width:0px;
  position:absolute;
  left:-304px;
  top:138px;
  width:20px;
  height:20px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:140px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
